/* styles.css */
body {
    
   font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
   background-color: 
    color: skyblue;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section#hero {
    background-image: url('C:\Users\om yadav\OneDrive\Documents\airoplane.jpg'); /*Add your background image here */
    background-size: cover;
    background-position: center;
    color: yellowgreen;
    text-align: center;
    padding: 100px 0;
}

section#services {
    background-color: skyblue;
    padding: 50px 0;
}

.service {
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


